// Setting Variables
$stretch:100%;
$null:0px;
$primary:#FFFFFF;
$secondary:#333333;
$accents:#1698ac;
$lightBlue:#5ac9d2;

// Mixins
// Setting background Image to Fixed
@mixin backgroundIMG{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
}

// Centering Text on screen
@mixin centerText{
	width:$stretch;
	text-align:center;
}

// Setting fonts
@mixin MontFont{font-family: 'Montserrat', sans-serif;}

// Transition Timing
@mixin timing{
	transition:0.2s ease;
}

// Desktop Screen Sizing
@media only screen and (min-width:1200px){
	#mobile-nav, #mobile-links{display:none !important;}

	#desktop-nav{
		display:block;

		li{
			margin-right:5px;
		}
	}
}

// Sizing for the resume button
@media only screen and(max-width:1390px){
	#resume{
		width:25% !important;
		margin-left:37.5% !important;
	}
}

// Tablet Screen Sizing
@media only screen and (min-width:768px) and (max-width:1199px){
	#mobile-nav, #mobile-links{display:none !important;}

	#desktop-nav{
		display:block;

		li{
			margin-right:5px;
		}
	}

	#profile{
		.column{
			width:30% !important;
			margin:10px 1.66% !important;

			h3{font-size:20px !important;}

			p{font-size:14px !important;}

			i{font-size:80px !important;}
		}
	}

	#modal-fullscreen{
		#modal-container{
			width:75% !important;
			margin-left:12.5% !important;
			margin-top:5% !important;
		}
	}
}

// Mobile Screen Sizing
@media only screen and (max-width:767px){
	#home{
		padding-top:20px !important;
		background-position:bottom !important;
		
		h1{
			font-size:20px !important;
			margin-top:200px !important;
		}

		h2{font-size:16px !important;}
	}

	#text-container{
		#resume{
			width:40% !important;
			margin:50px 30% $null 30% !important;
			font-size:12px !important;
		}
	}

	.mobile-nav{display:block !important;}

	#desktop-nav{display:none !important;}

	#profile{
		.column{
			width:90% !important;
			margin:10px 5% !important;

			h3{font-size:20px !important;}

			p{font-size:14px !important;}

			i{font-size:80px !important;}
		}
	}

	.thumbnail-group{
		width:100% !important;

		.overlay{
			background-color:rgba(0,0,0,0.7) !important;
			opacity:1 !important;
		}
	}

	#modal-fullscreen{
		#modal-container{
			width:85% !important;
			margin:5% 7.5% !important;

			#modal-content{
				h1{font-size:20px !important;}

				h3{font-size:16px !important;}

				p{font-size:14px !important;}

				.project-url{
					width:50% !important;
					margin:10px 25% !important;
					font-size:14px !important;
				}
			}
		}
	}
}