// Importing Mediaqueries
@import "mediaqueries.scss";

// Importing Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

// Default
body,html{
	padding:$null;
	margin:$null;
}

*{
	float:left;
	box-sizing:border-box;
}

a{
	text-decoration:none;
}

// Main Container
#wrapper{
	@include backgroundIMG;
	position:absolute;
	width:$full;
	height:auto;
	background-image:url("../images/blue_sky.jpg");
}

// Navigation Styling
#nav-container{
	position:fixed;
	width:$full;
	height:75px;
	background:none;
	box-shadow:none;
	padding:0px;
	z-index:10;
	@include MontFont;
	@include timing;

	i{
		color:$primary;
		font-size:15pt;
		z-index:1;
		margin-top:25px;
		margin-right:20px;
		float:right;
	}

	a{
		@include timing;
		color:$primary;

		&:hover{color:$lightBlue !important;}
	}

	#brand{
		width:50px;
		margin:10px 0px 10px 10px;
		cursor:pointer;
	}

	#desktop-nav{
		width:auto;
		height:$full;
		position:relative;
		float:right;
		margin-right:10px;
		padding-top:7.5px;

		ul{
			text-decoration:none;
			list-style-type:none;
			padding:0px;
			color:$primary;

			li{
				padding-left:100px;
				padding-right:10px;
				font-size:16px;
			}
		}
	}

	#mobile-nav{
		cursor:pointer;
		color:$primary;
	}

	#mobile-links{
		width:$full;
		height:auto;
		padding:5px;
		position:relative;
		margin:0px;
		display:none;
		background-color:rgba(255, 255, 255, 1);
		box-shadow:0px 5px 5px $secondary;

		ul{
			text-decoration:none;
			list-style-type:none;
			padding:0px;
			color:$secondary;

			li{
				padding:10px;
				padding-left:10px;
				font-size:16px;
				width:$full;
			}

			a{color:$secondary !important;}
		}
	}
}

// Default Slides
.slide{
	width:100%;
	height:auto;
	@include MontFont;
	background:none !important;
	overflow-x:hidden;
}

// First Slide
#home{
	width:$full;
	height:100vh;
}


#text-container{
	display:block;
	width:$full;
	height:auto;
	position:relative;
	z-index:2;

	h1{
		color:$primary;
		@include centerText;
		margin-top:300px;
		margin-bottom:$null;
		font-size:70px;
		font-weight:400;
		letter-spacing:10px;
		z-index:1;
	}

	h2{
		font-size:20px;
		@include centerText;
		font-weight:300;
		margin:0px;
		color:$primary;
	}

	hr{
		width:30%;
		margin:10px 35%;
		border: 0; 
		height: 1px; 
		background-image: -webkit-linear-gradient(left, $lightBlue, $primary, $lightBlue);
		background-image: -moz-linear-gradient(left, $lightBlue, $primary, $lightBlue);
		background-image: -ms-linear-gradient(left, $lightBlue, $primary, $lightBlue);
		background-image: -o-linear-gradient(left, $lightBlue, $primary, $lightBlue);
	}

	#resume{
		a{
			@include centerText;
			font-weight:300;
			color:$primary;
		}

		@include timing;
		width:10%;
		margin:50px 45% $null 45%;
		height:auto;
		padding:15px;
		font-size:12pt;
		outline:none;
		background:rgba(255,255,255,0);
		border: solid 1px $primary;
		border-radius:5px;

		&:hover{
			cursor:pointer;
			background-color:$accents;
		}
	}
}

// Scroll to next slide
#next-slide{
	position:relative;
	width:$full;
	height:auto;
	background-color:none;
	margin-top:50px;
	padding:25px $null;

	a{
		float:none;
		font-size:30px;

		&:hover{font-size:35px;}
	}

	.fa{
		@include centerText;
		@include timing;
		text-align:center;
		width:5%;
		margin:$null 47.5%;
		color:$primary;

		&:hover{color:$accents;}
	}
}

// Displays links to LinkedIn, Github, Gmail (using: mailto html)
#extraLinksBTN{
	@include timing;
	position:fixed;
	float:right;
	bottom:$null;
	right:$null;
	width:50px;
	height:50px;
	background-color:$primary;
	border:solid 1px $accents;
	border-radius:5px;
	z-index:3;
	margin:10px;
	cursor:pointer;

	&:hover{border-color:$primary;}

	i{
		font-size:20px;
		margin-top:13px;
		color:$accents;
		@include centerText;
	}
}

#extraLinksTAB{
	position:fixed;
	bottom:$null;
	right:$null;
	width:$null;
	width:200px;
	margin:10px 70px;
	height:50px;
	background-color:rgb(255,255,255);
	border-radius:5px;
	border:solid 1px $primary;
	z-index:2;

	i{cursor:pointer; color:$accents;}

	a{
		font-size:20px;
		margin-top:13px;
		color:#000;
		text-align:center;
		width:30%;
		margin-left:3.33%;
	}

	.fa{
		width:30%;
		padding-left:20px;
		text-align:center !important;
	}
}

// Individual styling of slides using unique ID
#profile{
	padding:100px $null;
	background-color:$primary !important;
	color:$secondary;

	h3, p{@include centerText;}

	h3{color:$lightBlue;}

	p{color:$secondary;}

	p{
		font-size:16px;
		width:80%;
		margin-left:10%;
		text-align:center;
	}

	.column{
		width:23%;
		margin:10px 5.16%;
		padding:20px;
		background-color:$primary;
		border:2px solid $primary;
		box-shadow:0px 0px 10px $secondary;
		color:$primary;

		i{
			@include centerText;
			font-size:150px;
			color:$accents;
		}

		ul{
			width:$full;
			padding:$null;
			color:$secondary;

			li{
				@include centerText;
				list-style-type:none;
				font-size:16px;
			}
		}
	}
}

// Projects Container
#projects{
	height:auto;
	background-color:$primary !important;
	overflow-y:hidden;

	a{
		color:$primary;
	}
}

// Libraria Image Link: https://pixabay.com/en/dublin-ireland-trinity-2507902/
#project-1{
	background-image:url("../images/libraria-cover.jpg");
	@include backgroundIMG;
	background-attachment:scroll;
	background-position:bottom;
}

// Traverse Image Link: https://pixabay.com/en/wanderer-backpack-hike-away-path-455338/
#project-2{
	background-image:url("../images/traverse-cover.jpg");
	@include backgroundIMG;
	background-attachment:scroll;
	background-position:center;
}

// Waterfront Link: https://pixabay.com/en/wellington-waterfront-boat-shed-606278/
#project-3{
	background-image:url("../images/waterfront-cover.jpg");
	@include backgroundIMG;
	background-attachment:scroll;
	background-position:right;
}


.thumbnail-group{
	@include MontFont;
	position:relative;
	border:2px solid $primary;
	width:33.3%;
	height:300px;
	margin:$null;
	color:$primary;

	i{
		@include centerText;
		font-size:30px;
	}

	.overlay{
		width:$full;
		height:$full;
		background-color:rgba(0,0,0,1);
		opacity:0;
		@include timing;
		padding:20px;

		&:hover{
			opacity:1;
		}

		h3{
			@include centerText;
			margin-top:75px;
		}

		.open-modal{
			@include timing;
			position:absolute;
			display:block;
			left:50%;
			top:65%;
			transform:translate(-50%, -50%);
			padding:10px 20px;
			border:1px solid $primary;
			background:none;
			cursor:pointer;
			border-radius:5px;

			&:hover{
				background-color:$primary;
				color:$secondary;
				border-color:$secondary;
			}
		}
	}

	#red-overlay-colour{
		background:-webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 72, 0, 1));
	}

	#green-overlay-colour{
		background:-webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(5, 128, 3, 1));
	}

	#blue-overlay-colour{
		background:-webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(8, 69, 179, 1));
	}

}

#modal-fullscreen{
	display:none;
	position:fixed;
	z-index:15;
	width:$full;
	height:$full;
	background-color:rgba(0,0,0,0.9);

	hr{
		width:30%;
		margin:$null 35%;
		color:$accents !important;
		border: 0;
		height: 1px; 
		background-image: -webkit-linear-gradient(left, $lightBlue, $accents, $lightBlue);
		background-image: -moz-linear-gradient(left, $lightBlue, $accents, $lightBlue);
		background-image: -ms-linear-gradient(left, $lightBlue, $accents, $lightBlue);
		background-image: -o-linear-gradient(left, $lightBlue, $accents, $lightBlue);
	}

	#modal-container{
		position:absolute;
		width:50%;
		height:90%;
		margin:2.5% 25%;
		background-color:$primary;
		z-index:16;

		#close-container{
			@include timing;
			width:$full;
			position:absolute;
			height:auto;
			padding:10px;
			background-color:$accents;
			z-index:2;
			cursor:pointer;

			&:hover{background-color:$lightBlue;}

			#closeModal{
				@include centerText;
				@include MontFont;
				cursor:pointer;
				color:$primary;				
			}
		}

		#modal-content{
			@include MontFont;
			position:absolute;
			margin-top:39px;
			width:$full;
			height:94%;
			padding:10px 30px;
			overflow-y:scroll;
			overflow-x:hidden;

			h1, h3{
				@include centerText;
				margin-top:20px;
				color:$lightBlue;
			}

			#img-box{
				position:relative;
				background:$primary;
				margin-left:50%;
				margin-top:20px;
				transform:translate(-50%, 0%);
				width:auto;
				height:auto;

				img{
					height:100%;
					width:100%;
				}
			}

			p, i{
				@include MontFont;
				@include centerText;
				// text-align:left;
				width:80%;
				margin:10px 10%;
				position:relative;
				margin-top:$null;
			}

			a{
				position:relative;
				margin-top:$null;
				color:$primary;
			}

			#documentation-link{
				width:50%;
				margin:10px 25%;
				text-align:center;
				color:$accents;

				&:hover{
					color:$lightBlue;
				}
			}

			#nodoc{
				position:relative;
				width:50%;
				margin:$null 25%;
				top:-20px;
				text-align:center;
			}

			.project-url{
				@include timing;
				position:relative;
				cursor:pointer;
				font-size:20px;
				font-weight:300;
				padding:10px 12.5px;
				background-color:$accents;
				width:25%;
				margin:10px 37.5%;
				text-align:center;
				border-radius:5px;

				&:hover{background-color:$lightBlue;}
			}
		}
	}
}

#footer{
	width:100%;
	height:auto;
	padding:30px;
	position:relative;
	background-color:$secondary;
	color:$primary;

	#contact-links{
		width:$full;
		margin-top:20px;

		.link-container{
			position:relative;
			width:10%;
			margin:10px 11.11%;

			.fa{
				font-size:25px;
			}

			a{
				@include MontFont;
				color:$primary;
				margin-left:5px;
				margin-top:5px;

				&:hover{
					color:$lightBlue;
				}
			}
		}
	}

	h1{
		@include centerText;
		@include MontFont;
		font-size:20px;
		margin-top:30px;
	}
}

.blue{background:blue;}

// greg rakozy
// http://grakozy.com/